# Rust
/src-tauri/target/
/tools/*/target/

# Tauri が生成するもの
/src-tauri/gen/

# フロントエンド
node_modules/
/dist/

# エディタ
.vs/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# 一時ファイル
*~
*.bak
*.swp
*.tmp
